<a href="https://colab.research.google.com/github/chandnipasupathy/Python-basics/blob/main/Py_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

strings - immutable, ordered, supports indexing and slicing
Indicated by "",'',""" """, """  '   """.

strings - slicing, modification, concatenation,format, escape.
**slicing** -  [start:stop:step], len()
**modification** - upper(),lower(),replace(),strip(),split()
**concatenation** - use '+' sign
**format** - unlike concatenation use f"   placeholders{} / modifiers " with or without math funstiin inside placeholders
**escape **- use of \

In [5]:
#simple print use case
print("hello")
print('hello')
print("""hello""")
print(""" hello'l""") #doc string
print('hello'l') #error due to doc string so use """ ' """

SyntaxError: unterminated string literal (detected at line 6) (ipython-input-2562630491.py, line 6)

In [6]:
a= 'hello'
print(a)

hello

In [7]:
#Multi line strings
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [8]:
#string as array
a = 'hello world'
print(a[1])

e

In [10]:
#indexing in strings [start:stop:step]
a = 'hello world'
print(a[1:4])

ell

In [19]:
# functions of strings len(),lower(),upper(),strip(),replace(),split() (.method - access the methods like using a dot a.upper() and not upper(a) )
#len() - measures the length of the string
a = 'hello'
len(a)
#lower(),upper() - conversion to lower and upper case of the font
a.upper()
a.lower()
#strip() - removes white spaces in start and end
a = '   hello, world   '
print(a.strip())
#replace() - replaces characters
a = 'hello world'
print(a.replace('l','a'))
#split - split using characters in between
a = 'hello,world'
print(a.split(','))

hello, world
heaao worad
['hello', 'world']

In [23]:
#concatenation using + combine twp strings
a = 'hello'
b = 'world'
#c = a+b (or) to add space in between
c = a+' '+b
c

'hello world'

In [38]:
##
#string formats - cant add using + for sentences and functions so use placeholders and modifiers
#note placeholders can include math functions also.
 height = 5.4
 text = 'my height is'+ height
 print(text)

#use placeholders/modifiers
height = 5.4
salary = 50000.00
text =f"my height is {height}" #placeholder
text = f" my salary is {salary:,.2f}" #modifier :.2f for two digits after a decimal
text = f"my salary is {salary * height:,.2f}"
print(text)

my salary is 270,000.00